<p>
  home-page works!
</p>
<div class="split left">
    <form style="width:100%">
      <div class="form-group" style="width:100%">
        <label for="name">Music or artist</label>
        <input type="text" style="width:40%" class="form-control" id="name" required>
      </div>
      <div style="width:100%;padding-top:20px;">
          <table style="width:100%">
            
              <tr>
                <th>Firstname</th>
                <th>Lastname</th> 
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td> 
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td> 
                <td>94</td>
              </tr>
            </table>
      </div>
    </form>
</div>
<div class="middle">
</div>
<div class="split right">
        <div class="form-group" style="width:100%">
          <label for="name">User:</label>
          <input type="text" style="width:40%" class="form-control" id="name" required>
        </div>
        <div style="width:100%;padding-top:20px;height:60%;">
            <table class="table table-fixed" style="width:80%;height:100%;">
                <thead>
                    <tr>
                        <th style="width:45%;text-align:center;">Music Name</th>
                        <th style="width:45%;text-align:center;">Artist Name</th>
                        <th style="width:10%;text-align:center;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <input type="checkbox">
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <td style="width:10%;text-align:center;"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <td style="width:10%;text-align:center;"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <td style="width:10%;text-align:center;"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <input type="checkbox">
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <input type="checkbox">
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <input type="checkbox">
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <input type="checkbox">
                    </tr>
                    <tr>
                        <td style="width:45%;text-align:center;">A</td>
                        <td style="width:45%;text-align:center;">fat-soluble</td>
                        <input type="checkbox">
                    </tr>
                </tbody>
            </table>
        </div>
</div>
