<div class="split left">
<!-- Arrumar tabela e recupaerar informação do ts-->
      <div style="width:100%">
        <label for="name">Music or artist</label>
        <input type="text" style="width:40%" class="form-control" id="name" required>
      </div>
      <div style="width:100%;padding-top:20px;">
          <table style="width:100%">
            
              <tr>
                <th>Firstname</th>
                <th>Lastname</th> 
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td> 
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td> 
                <td>94</td>
              </tr>
            </table>
      </div>
</div>
<div class="middle">
<!-- TODO: Inserir botões e realizar chamada dos métodos no ts-->
</div>
<div class="split right">
<!-- Arrumar tabela e recupaerar informação do ts-->
        <div class="form-group" style="width:100%">
          <label for="name">User:</label>
          <input type="text" style="width:40%" class="form-control" id="name" required>
        </div>
        <div style="width:100%;padding-top:20px;">
          <table style="width:100%">
            
              <tr>
                <th>Firstname</th>
                <th>Lastname</th> 
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td> 
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td> 
                <td>94</td>
              </tr>
            </table>
      </div>
</div>
